.sapMListTblCell:hover {
  background-color: #ebebeb;
}

.sapMListTblRow:hover {
  background-color: #ebebeb;
}
.customheader {
  height: 3em;
}
.textoHeader {
  font-size: medium;
  font-weight: bold;
}
.headerConfig {
  width: "2em";
}
.classtitle {
  font-size: medium;
  font-weight: bold;
  text-align: center;
}
.sectionclass {
  background-color: #06a5e6 !important;
  color: rgb(255, 22, 22) !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
}

.sectionclassH {
  background-color: #06a5e6;
}
.buttonTransparent > .sapMBtnInner {
  width: 100%;
  background: var(--brand-mid) !important;
  color: #fff !important;
  border: 1px solid var(--brand-mid);
  border-radius: 3px;
  background-image: none;
  text-shadow: none;
}

.buttonTransparent.sapMBtnIcon {
  color: #fff !important;
}
.statusIcon {
  width: 20px;
  height: 20px;
}
